@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* skeleton */
.skeleton:empty {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(255, 255, 255)
  }
  100% {
    background-color: rgb(240, 243, 245)
  }
}

/* helpers */
.unselectable *{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: not-allowed;
}